<header class="header-content">
  <div class="logo">
      <p>BALLON</p>
  </div>
  <button class="menu-toggle" (click)="toggleMenu()" [attr.aria-label]="isMenuOpen ? 'Fechar menu' : 'Abrir menu'">
    <fa-icon [icon]="isMenuOpen ? faTimes : faBars"></fa-icon>
  </button>
  <nav class="navbar-content" [class.active]="isMenuOpen">
    <ul>
      <li *ngIf="!authService.user() as user"> <a routerLink="/register" (click)="closeMenu()">Cadastre-se</a></li>
      <li *ngIf="authService.user() as user"><a routerLink="/profile" (click)="closeMenu()">Perfil</a></li>
      <li *ngIf="authService.user() as user"><a routerLink="/expenses" (click)="closeMenu()">Gastos</a></li>
      <li *ngIf="authService.user() as user"><a routerLink="/details" (click)="closeMenu()">Detalhamento</a></li>
      <li *ngIf="authService.user() as user"><a (click)="logout(); closeMenu()">Logout</a></li>
      <li *ngIf="!authService.user()"><a routerLink="/auth" (click)="closeMenu()">Login</a></li>
      <li>
        <button (click)="toggle()" class="theme-toggle">
          <fa-icon [icon]="isDarkMode ? faSun : faMoon"></fa-icon>
        </button>
      </li>
    </ul>
  </nav>
</header>
