.header-content {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--primary-color);
  padding: 5px 20px;
}
.logo {
  padding: 1rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3BC14A;;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;

}
.navbar-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
}

.navbar-content ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-content a,
.navbar-content a:link,
.navbar-content a:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

button {
  background-color: var(--secodary-color);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--quinary-color);
}

button:active {
  background-color: #003366;
}
