<header class="header-content">
  <div class="logo">
    <a href="/"> 
      <img src="assets/ballon.png"  alt="Balloon icon">
    </a>

  </div>
  <nav class="navbar-content">
    <ul>
      <li *ngIf="!authService.user() as user"> <a routerLink="/">Home</a></li>
      <li *ngIf="authService.user() as user"><a  routerLink="/profile">Perfil</a></li>
      <li *ngIf="authService.user() as user"><a  routerLink="/expenses">Gastos</a></li>
      <li *ngIf="authService.user() as user"><a  routerLink="/details">Detalhamento</a></li>
      <li *ngIf="authService.user() as user"><a (click)="logout()">Logout</a></li>
      <li *ngIf="!authService.user()"><a routerLink="/auth">Login</a></li>
      <li>
        <button (click)="toggle()">
          <fa-icon [icon]="isDarkMode ? faSun : faMoon"></fa-icon>
        </button>
      </li>
    </ul>
  </nav>
</header>
