<section class="profile-container">
  <div *ngIf="loading()" class="loading-spinner">
    Carregando...
  </div>
  <div *ngIf="!loading() && user()" class="user-profile">
    <app-title size="h1" title="Meu Perfil"></app-title>
    <div class="user-info">
      <div class="user-details">
        <p><strong>Nome:</strong> {{ user()?.name }}</p>
        <p><strong>Email:</strong> {{ user()?.email }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!loading() && !user()" class="no-user">
    <p>Nenhum usuário autenticado encontrado.</p>
  </div>
</section>
