<section class="profile-container">
  <app-loading *ngIf="loading()"></app-loading>
  <div *ngIf="!loading() && user()" class="user-profile">
    <app-title size="h1" title="Perfil"></app-title>
    <div class="user-info">
      <div>
        <p><strong>Nome:</strong> {{ user()?.name }}</p>
        <p><strong>Email:</strong> {{ user()?.email }}
        <p><strong>Telefone:</strong> {{ user()?.cell_phone ?  user()?.cell_phone : "Não registrado."}}
        <p *ngIf="user()?.isConfirmed">Usuário verificado</p>
        <p *ngIf="!user()?.isConfirmed">
        É necessário que verifique sua conta para usar o cadastro por número, pode fazer isso clicando aqui
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!loading() && !user()" class="no-user">
    <p>Nenhum usuário autenticado encontrado.</p>
  </div>
</section>
