.profile-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-profile{
  width: 40rem;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  line-height: 1.5rem;
}