.category-select-container {
  width: 100%;
}

.category-display {
  display: flex;
  align-items: center;
  padding: 0.70rem;
  border: 1px solid var(--gray);
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.2s, background-color 0.2s;
  background-color: var(--white);
}

.category-display:hover {
  border-color: var(--primary-color);
  background-color: var(--white);
}

.category-display.selected {
  border-color: var(--primary-color);
  padding: 0.08rem 0.70rem;
  background-color: var(--white);
}

.category-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-width: 0;
}

.category-text {
  flex: 1;
  min-width: 0;
}

.category-name {
  font-size: 0.95rem;
}


.btn-clear {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c8102e;
  transition: color 0.1s;
  flex-shrink: 0;
}

.btn-clear:hover {  
   color: var(--red);
}

.placeholder {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 0.95rem;
  width: 100%;
}

.placeholder mat-icon {
  color: var(--gray);
}

@media (max-width: 600px) {
  .category-display {
    padding: 0.65rem 0.8rem;
  }

  .category-name {
    font-size: 0.9rem;
  }
}
