:root .dark-theme {
  --background-color: #053B06;
  --background-card-color: #EFF2EF;
  --text-color: #3BC14A;
  --primary-color: #031926;
  --secondary-color: #053B06;
  --tertiary-color: #EFF2EF;
  --quaternary-color: #9450ff;
  --quinary-color: #002776;
  --red: #c8102e;
  --black: #000;
  --white: #fff;
  --gray: #EFF2EF;
}

