:root {
  --background-color: #EFF2EF;
  --text-color: #031926;
  --primary-color: #EFF2EF;
  --secondary-color: #297045;
  --tertiary-color: #9450ff;
  --quaternary-color: #4e039d;
  --quinary-color: #002776;
  --red: #fb5012;
  --black: #000;
  --white: #fff;
}
