:root {
  --background-color: #e9f1f7;
  --text-color: #204e4a;
  --primary-color: #297045;
  --secondary-color: #297045;
  --tertiary-color: #5603ad;
  --quaternary-color: #4e039d;
  --quinary-color: #204e4a;
  --red: #fb5012;
  --black: #000;
  --white: #fff;
}
