footer {
   background-color: var(--primary-color);
  color: var(--text-color);
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
