.chart_container {
  height: auto;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chart__content {
  display: flex;
  align-items: center;
  justify-content:  center;
  flex-direction: column;
  width: 80%;
}

app-title {
  text-align: center;
}
@media (min-width: 1120px) {
  .expenses__container {
    min-width: 70rem;
  }
}
