.chart_container {
  height: auto;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.chart__content {
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

app-title {
  text-align: center;
}

