.expenses__container {
  height: auto;
  max-height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.expense__content{
  width: 80%;
}

app-title {
  text-align: center;
}
@media (min-width: 1120px) {
  .expenses__container {
    min-width: 70rem;
  }
}
