<section class="chart__card__container">
  <div class="charts-grid">
    <div class="chart-card">
      <h3>Despesas Repetitivas nos proximos 12 meses</h3>
      <div class="chart-card-body">
        <canvas id="RecurringNextTwelveMonthsChart"></canvas>
      </div>
    </div>

    <div class="chart-card">
      <div class="chart-card-header">
        <h3>Despesas Repetitivas por Categoria (12 meses)</h3>
        <form [formGroup]="categoryForm" class="inline-form">
          <app-select
            formControlName="categoryId"
            [options]="categoryOptions"
            label="Categoria"
            placeholder="Selecione"
          ></app-select>
        </form>
      </div>
      <div class="chart-card-body">
        <canvas id="RecurringNextTwelveMonthsByCategoryChart"></canvas>
      </div>
    </div>

    <div class="chart-card">
      <div class="chart-card-header">
        <h3>Visualização de Gastos por Categoria - {{ currentMonthLabel }}</h3>
        <form [formGroup]="monthForm" class="inline-form">
          <app-select
            formControlName="month"
            [options]="monthsOptions"
            label="Mês"
            placeholder="Selecione"
          ></app-select>
          <div class="statics__by__month">Total por mês: R$ {{ staticsByMonth | number:'1.2-2' }}</div>
        </form>
      </div>
      <div class="chart-card-body">
        <canvas id="MyChart"></canvas>
      </div>
    </div>
  </div>
</section>
