<div class="expense__conteiner">
  <div class="search-wrapper">
    <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>
      <app-primary-input
        label=""
        type="text"
        placeholder="Buscar despesas..."
        inputName="searchExpenses"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)"
      ></app-primary-input>
    </div>
  </div>

  <div *ngIf="(expenses$ | async) as expenses">
    <div *ngIf="expenses.length > 0; else noExpenses">
    <div class="expenses__content__conteiner">
      <div *ngFor="let expense of expenses" class="expenses__content">
        <app-expense-item [expense]="expense"></app-expense-item>
      </div>
    </div>

    <div class="pagination-buttons">
      <button (click)="prevPage()" [disabled]="currentPage === 0">Anterior</button>
      <button (click)="nextPage()" [disabled]="currentPage + 1 >= totalPages">
        Próxima
      </button>
    </div>
    </div>
  </div>

  <ng-template #noExpenses>
    <div class="expense__no__content">
      <p class="no-expenses">Nenhuma despesa registrada.</p>
    </div>
  </ng-template>
</div>
