.expense-item {
  padding: 1rem;
  width: 23rem;
  height: 12rem;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  --gradient-color: var(--primary-color, #7878ff);
  background: linear-gradient(90deg, 
    var(--background-card-color) 0%, 
    var(--gradient-color) 100%);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.expense-header {
  width: 100%;
  display: flex;  
  align-items: center;
  margin-bottom: 1rem;
}

.expense-header h2 {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 500; 
   word-break: break-word;
}

.expense-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--font-size-small);
}

.expense-details strong {
  font-weight: 500;
  color: var(--black);
}

.expense-details p {
  color: var(--primary-color);
}

.expense-value {
  font-size: var(--font-size-small);
  font-weight: bold;
  color: var(--primary-color);
}


.buttons-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.edit-button {
  box-sizing: border-box;
  align-items: bottom;
  justify-content: center;
  height: auto;
  color: var(--secondary-color);
  background-color: transparent;
  border-radius: 4px;
  padding-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
  border: none;
}

.delete-button {
  box-sizing: border-box;
  align-items: bottom;
  justify-content: center;
  height: auto;
  color: var(--red);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.5rem;
  transition: all 0.3s ease;
  overflow: hidden;
  border: none;
}