<article class="expense-item">
  <div class="expense-details">
    <div class="expense-header">
      <h2>Titulo: {{ expense.title }}</h2>
    </div>

    <p><strong>Categoria:</strong> {{ categoryPTLabel }}</p>
    <p><strong>Mês:</strong> {{ monthPT }}</p>
    <p><strong>Ano:</strong> {{ expense.year }}</p>

    <span class="expense-value">{{ formattedAmount }}</span>
  </div>

  <div class="buttons-container">
    <button type="button" class="edit-button" mat-raised-button>
      <mat-icon>edit</mat-icon>
    </button>

    <button
      type="button"
      class="delete-button"
      mat-raised-button
      (click)="onDelete(expense.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</article>
