.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
  padding-right: 9%;  
  position: relative;
  background-image: url('../../../assets/fundo-ballon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login_container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); 
  z-index: 1;
}

.form-control-container {
  position: relative;
  z-index: 2; 
  padding: 1rem;
  border-radius: 1rem;
  height: 30rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}


.form-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  min-width: 200px;
}

.form-input label {
  font-size: 0.95rem;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 4px;
}

.form-input input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid var(--gray);
  border-radius: 0.5rem;
  outline: none;
  width: 100%;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}


button {
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  color: var(--white);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}