.form-control-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  background: var(--gray);
  width: 100%;
  max-width: 500px;
  border: 1px solid;
}