.form-control-container {
  width: 100%;          
  height: 100vh;        
  display: flex;  
  box-sizing: border-box;
  justify-content: center;
  align-items: start;    
  padding-top: 50px;    
}


.form-control {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  border-radius: 1rem;     
  width: 100%;            
  max-width: 500px;      
  max-height: 100%;
  border: 1px solid;     
}
