<div class="form-control-container">
<app-loading *ngIf="loading"></app-loading>

<app-default-login-layout
  title="Cadastre-se e comece hoje!"
  primaryBtnText="Registre-se"
  secondaryBtnText="Login"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!registerForm.valid"
>
  <form [formGroup]="registerForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      label="Nome completo"
      placeholder="Matheus Mozart"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail"
      placeholder="seu-email@gmail.com"
    >
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha"
    >
    </app-primary-input>
    <div *ngIf="registerForm.errors?.['passwordWeak']" class="error">
      A senha deve ter pelo menos uma letra maiúscula e uma minúscula com mais
      de 6 caracteres.
    </div>
    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Confirme sua senha"
    >
    </app-primary-input>
    <div *ngIf="registerForm.errors?.['passwordMismatch']" class="error">
      Senhas divergentes.
    </div>
  </form>
</app-default-login-layout>
</div>