.form-control-container {
  width: 100%;          
  height: 100vh;        
  display: flex;  
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;   
  background-image: url('../../../assets/register.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  padding-right: 9%;
}

.form-control-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../../assets/register.jpg');
  background-size: cover;
  background-position: center;
}

.form-control-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}
.form-control {
  position: relative;
  z-index: 2;
  background-color: var(--white);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  border-radius: 1rem;     
  width: 100%;            
  max-width: 500px; 
}
